<div class="container mx-auto px-6">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Tags</h2>
  <%= live_redirect "New", to: Routes.tags_new_path(@socket, :new),  class: "mr-5 hover:text-gray-900" %>
  <%= for tag <- @tags do %>
    <div>
      <div><%= tag.name %></div>
      <%= link "Deletar", to: "#", phx_click: "delete", phx_value_tag_id: tag.id, data: [confirm: "Are you sure?"] %>
    </div>
  <% end %>
</div>
